@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar,
.posts {
  background: #fff;
  margin-right: 10px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list .active {
  font-weight: bold;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}
.authors a {
  text-decoration: none;
  color: rgb(29, 94, 72);
}
.authors a:hover {
  color: rgb(82, 235, 184);
}

/* Post */
.post {
  display: none;
}
.post.active {
  display: block;
}

.post-author {
  font-weight: 700;
}
.post-author a {
  text-decoration: none;
  color: rgb(29, 94, 72);
}
.post-author a:hover {
  color: rgb(82, 235, 184);
}

.post-tags {
  display: flex;
}
.post-tags p {
  margin: 0 10px 0 0;
}
.post-tags a {
  text-decoration: none;
  color: rgb(29, 94, 72);
}
.post-tags a:hover {
  color: rgb(82, 235, 184);
}

.titles {
  font-weight: 500;
}
.titles a {
  text-decoration: none;
  color: rgb(29, 94, 72);
}
.titles a:hover {
  color: rgb(82, 235, 184);
}

.tags {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
}
.tags a {
  text-decoration: none;
  margin-right: 10px;
  text-align: center;
  line-height: 1;
}
.tags a:hover {
  color: rgb(82, 235, 184);
}
.tags .tag-size-5 {
  color: rgb(48, 107, 83);
  font-size: 35px;
}
.tags .tag-size-4 {
  color: rgb(63, 119, 97);
  font-size: 30px;
}
.tags .tag-size-3 {
  color: #74a893;
  font-size: 25px;
}
.tags .tag-size-2 {
  color: #50b189;
  font-size: 20px;
}
.tags .tag-size-1 {
  color: #97d0b9;
  font-size: 15px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Nhc3Mvc3R5bGUuc2NzcyIsInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBUSxxSEFBQTtBQUVSLGNBQUE7QUFjQSxXQUFBO0FBRUE7OztFQUdFLHNCQUFBO0FDZEY7O0FEaUJBO0VBQ0UsZ0JBckJZO0VBc0JaLDBDQVpVO0VBYVYsV0F0Qlc7RUF1QlgsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7QUNkRjs7QURpQkE7RUFDRSxpQkFBQTtFQUNBLGNBQUE7QUNkRjs7QURpQkE7RUFDRSxlQUFBO0VBQ0EseUJBQUE7RUFDQSxpQ0E1Qlk7RUE2QlosZ0JBQUE7QUNkRjtBRGVFO0VBQ0Usb0JBQUE7RUFDQSxnQkFBQTtFQUNBLGNBQUE7QUNiSjs7QURpQkEsV0FBQTtBQUVBO0VBQ0UsYUFBQTtFQUNBLGlCQUFBO0FDZkY7O0FEa0JBO0VBQ0UsV0FBQTtBQ2ZGOztBRGtCQTtFQUNFLFdBQUE7QUNmRjs7QURrQkE7O0VBRUUsZ0JBL0RZO0VBZ0VaLGtCQUFBO0VBQ0EsYUFBQTtFQUNBLGtCQUFBO0VBQ0EsMkVBQUE7QUNmRjs7QURrQkEsU0FBQTtBQUVBO0VBQ0Usa0NBakVVO0VBa0VWLGdCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7QUNoQkY7O0FEbUJBLFVBQUE7QUFFQTtFQUNFLHFCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7QUNqQkY7QURrQkU7RUFDRSxpQkFBQTtBQ2hCSjs7QURxQkU7RUFDRSxxQkFBQTtBQ2xCSjs7QURzQkEsWUFBQTtBQUdFO0VBQ0UsbUJBQUE7QUNyQko7QUR1QkU7RUFDRSxxQkFBQTtFQUNBLHNCQXRHUztBQ2lGYjtBRHVCRTtFQUNFLHdCQTFHVTtBQ3FGZDs7QUR5QkEsU0FBQTtBQUVBO0VBQ0UsYUFBQTtBQ3ZCRjtBRHdCRTtFQUNFLGNBQUE7QUN0Qko7O0FEMEJBO0VBQ0UsZ0JBQUE7QUN2QkY7QUR3QkU7RUFDRSxxQkFBQTtFQUNBLHNCQTFIUztBQ29HYjtBRHdCRTtFQUNFLHdCQTlIVTtBQ3dHZDs7QUQwQkE7RUFDRSxhQUFBO0FDdkJGO0FEd0JFO0VBQ0Usa0JBQUE7QUN0Qko7QUR3QkU7RUFDRSxxQkFBQTtFQUNBLHNCQXhJUztBQ2tIYjtBRHdCRTtFQUNFLHdCQTVJVTtBQ3NIZDs7QUQwQkE7RUFDRSxnQkFBQTtBQ3ZCRjtBRHdCRTtFQUNFLHFCQUFBO0VBQ0Esc0JBbkpTO0FDNkhiO0FEd0JFO0VBQ0Usd0JBdkpVO0FDaUlkOztBRDBCQTtFQUNFLGdCQUFBO0VBQ0EsYUFBQTtFQUNBLGVBQUE7QUN2QkY7QUR5QkU7RUFDRSxxQkFBQTtFQUNBLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSxjQUFBO0FDdkJKO0FEeUJFO0VBQ0Usd0JBdktVO0FDZ0pkO0FEeUJFO0VBQ0UsdUJBeEtVO0VBeUtWLGVBQUE7QUN2Qko7QUR5QkU7RUFDRSx1QkEzS1U7RUE0S1YsZUFBQTtBQ3ZCSjtBRDBCRTtFQUNFLGNBQUE7RUFDQSxlQUFBO0FDeEJKO0FEMkJFO0VBQ0UsY0FBQTtFQUNBLGVBQUE7QUN6Qko7QUQ2QkU7RUFDRSxjQUFBO0VBQ0EsZUFBQTtBQzNCSiIsImZpbGUiOiJzdHlsZS5jc3MifQ== */