@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: #fff;
$color-dark: #444;
$color-green: rgb(82, 235, 184);
$color-link: rgb(29, 94, 72);
$color-size5: rgb(48, 107, 83);
$color-size4: rgb(63, 119, 97);
$color-size3: rgb(90, 143, 122);

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar,
.posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
  a {
    text-decoration: none;
    color: $color-link;
  }
  a:hover {
    color: $color-green;
  }
}

/* Post */

.post {
  display: none;
  &.active {
    display: block;
  }
}

.post-author {
  font-weight: 700;
  a {
    text-decoration: none;
    color: $color-link;
  }
  a:hover {
    color: $color-green;
  }
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
  a {
    text-decoration: none;
    color: $color-link;
  }
  a:hover {
    color: $color-green;
  }
}

.titles {
  font-weight: 500;
  a {
    text-decoration: none;
    color: $color-link;
  }
  a:hover {
    color: $color-green;
  }
}

.tags {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
    margin-right: 10px;
    text-align: center;
    line-height: 1;
  }
  a:hover {
    color: $color-green;
  }
  .tag-size-5 {
    color: $color-size5;
    font-size: 35px;
  }
  .tag-size-4 {
    color: $color-size4;
    font-size: 30px;
    // line-height: 2;
  }
  .tag-size-3 {
    color: lighten($color-size3, 10%);
    font-size: 25px;
    // line-height: 2.5;
  }
  .tag-size-2 {
    color: lighten($color-size5, 20%);
    font-size: 20px;
    // line-height: 2.8;
  }

  .tag-size-1 {
    color: lighten($color-size5, 40%);
    font-size: 15px;
    // line-height: 5;
  }
}
